@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-segoe: Segoe UI, sans-serif;

  --color-body: #5a5a5a;
  --color-primary: #212121;
  --color-header: rgb(244 244 244);

  --shadow-product: 0 0 #0000, 0 0 #0000, 0 6px 12px rgba(0, 0, 0, 0.08);
  --shadow-top: 0 0 #0000, 0 0 #0000, 0 -2px 3px rgba(0, 0, 0, .06);
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --button-primary-color: #ffffff;
  --button-secondary-color: #212121;

  --button-primary-bg-color: #212121;
  --button-secondary-bg-color: #ffffff;

  --button-primary-bg-color-hover: #323332;

  --button-outline-border-color: #e6e6e6;
  --button-primary-border-color: #212121;
}

html {
  scroll-behavior: smooth;
}

.ant-app,
.ant-layout {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
