.button {
  display: flex;
  padding: 8px 14px;
  border-radius: 6px;
  height: max-content;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:not(.text) {
    font-weight: 600;
  }
}

.button:disabled {
  color: #c2c2c2;
  cursor: not-allowed;

  &:hover {
    text-decoration: none;
  }
}

.button:not(.text):disabled {
  color: white;
  background-color: #c2c2c2;
  border-color: transparent;
  cursor: not-allowed;

  &:hover {
    opacity: 1;
    background-color: #c2c2c2;
  }
}

.error {
  background-color: #dc362e;
}

.approve {
  background-color: #038f00;
}

.outlined {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-bg-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-outline-border-color);

  &:hover {
    border-color: var(--button-primary-border-color);
  }
}

.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-bg-color);

  &:hover {
    background-color: var(--button-primary-bg-color-hover);
  }
}

.text {
  padding: 0;
  color: var(--button-secondary-color);
  background-color: transparent;
}

.fill {
  color: white;
  border: none;
  background-color: var(--button-primary-bg-color);

  &:hover {
    background: var(--button-primary-bg-color-hover);
  }
}

.dashed {
  border: 1px dashed var(--button-secondary-color);
}
